.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  
  
}

.form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 20px;
}
.title
{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  
  /* Light Version/Type/Text Dark */
  
  color: #06152B;
  
}
label {
  display: block;
  margin-bottom: 10px;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: #93CDB1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width:320px
}
button:hover {
  background-color: #3e8e41;
}