.tittle
{
position: absolute;
width: 70px;
height: 31px;
left: 312px;
top: 70px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;

/* Light Version/Type/Text Dark */

color: #06152B;

}
.LiveMap-container {
    display: flex;
  }
  
  .LiveMap-map {
    flex: 1;
    height: 483px;
    width: 1018px;
    top:155px;
    left:309px;
  }
  
  .LiveMap-sidebar {
    flex: 0 0 300px;
   
    padding: 20px;
  }
  
