.Dashboard
{
position: absolute;
width: 128px;
height: 31px;
left: 271px;
top: 70px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #06152B;
}
.Seats
{
position: absolute;
width: 161px;
height: 32px;
left: 1228px;
top: 281px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
color: #000000;
}

.img
{
position: absolute;
width: 250px;
height: 250px;
left: 1172px;
top: 322px;
background-color: #F2F2F2;
}
.column {
width: 268px;
height: 116px;
flex: none;
order: 0;
flex-grow: 0;
border-radius: 10px;
text-align: center;
background: rgba(5, 255, 40, 0.25);
}
.availability
{
    position: absolute;
width: 170px;
height: 68px;
left: 1224px;
top: 572px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
/* or 100% */



text-align: center;

color: #4E8768;
}

.container
 {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
position: absolute;
width: 868px;
height: 116px;
left: 272px;
top: 133px;
font-size: 20px;

 }
.reports
 {
position: absolute;
width: 76px;
height: 32px;
left: 271px;
top: 282px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
color: #000000;
 } 
 .DirectionsBusIcon
 {
    position: absolute;
width: 35px;
height: 35px;
left: 41px;
top: 41px;
color: #141B34;


 }
 .PersonOutlineIcon
 {
    position: absolute;
width: 35px;
height: 35px;
left: 341px;
top: 41px;
color: #141B34;

opacity: 0.75;
 }
 .CalendarMonthSharpIcon
 {
    position: absolute;
width: 35px;
height: 35px;
left: 640px;
top: 41px;
color: #141B34;

opacity: 0.75;
 }
 