.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #f5f5f5;
}

.img {
  
/* Rectangle */


position: absolute;
left: 5.78%;
right: 63.11%;
top: 29.33%;
bottom: 29.33%;

}

.login-form {
  width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  
}
.input-container {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 180px;
  padding: 10px 40px 10px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: green;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #93CDB1;
}

button[type="submit"] {
  
  width: 350px;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background: #93CDB1;
  box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
  border-radius: 9px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

button[type="submit"]:hover {
  background-color: green;
}

.VisibilityIcon,
.VisibilityOffIcon {
  cursor: pointer;
  color: #93CDB1;
  position: absolute;
  top: 50%;
  right:50px;
  transform: translateY(-50%);
}