.dropdownmenu
{
    position: absolute;
    left: 94.78%;
    right: 4.56%;
    top: 9.05%;
    bottom: 90.27%;
    cursor: pointer;    
}
.name
{
    position: absolute;
    width: 62px;
    height: 16px;
    left: 1359px;
    top: 60px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #4C4C4C;
}
.NotificationsNoneIcon
{
position: absolute;
width: 21px;
height: 21px;
left: 1277px;
top: 58px;
}
